.logo img {
  width: 15%;
  height: auto;
}

@media (max-width: 576px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
  }

  .logo img {
    width: 30%;
    height: auto;
  }

  .cnt-1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
